include dyngraph/graphysio/ui/designer/cycledetect.ui
include dyngraph/graphysio/ui/designer/filter.ui
include dyngraph/graphysio/ui/designer/mainwindow.ui
include dyngraph/graphysio/ui/designer/newplot.ui
include dyngraph/graphysio/ui/designer/loopwidget.ui
include dyngraph/graphysio/ui/designer/periodexport.ui
include dyngraph/graphysio/ui/designer/setuppuloop.ui
