include LICENSE
include README.md
include graphysio/ui/designer/cycledetect.ui
include graphysio/ui/designer/filter.ui
include graphysio/ui/designer/mainwindow.ui
include graphysio/ui/designer/newplot.ui
include graphysio/ui/designer/loopwidget.ui
include graphysio/ui/designer/periodexport.ui
include graphysio/ui/designer/setuppuloop.ui
