[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "graphysio"
author = "Jona JOACHIM"
author-email = "jona@joachim.cc"
home-page = "https://github.com/jaj42/GraPhysio"
classifiers = [ "License :: OSI Approved :: ISC License (ISCL)",]
description-file = "README.md"
requires-python=">=3.6"
requires=[
    "numpy>=1.16.4",
    "pandas>=1.0",
    "pathvalidate>=0.29.0",
    "Pint>=0.9",
    "PyQt5>=5.12.3",
    "pyqtgraph>=0.10.0",
    "pytz>=2019.1",
    "scipy>=1.3.0",
    "sympy>=1.4",
    "typing>=3.7.4",
    "pyarrow>=0.17.0",
    "pyedflib>=0.1.17",
    "attrs>=18.2.0",
]


[tool.flit.scripts]
graphysio = "graphysio.main:main"
