[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "graphysio"
version = "2022.9.13"
description = "Visualizer and analyser for biometric signals"
authors = ["Jona Joachim <jona@joachim.cc>"]
license = "ISC"
readme = "README.md"
repository = "https://github.com/jaj42/GraPhysio"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
pandas = "^1.4.3"
pathvalidate = "^2.5.0"
Pint = "^0.19.2"
pyqtgraph = "^0.12.4"
scipy = "^1.8.1"
numexpr = "2.8.3"
pyarrow = {version = "^8.0.0", optional = true}
pyEDFlib = {version = "^0.1.29", optional = true}
physiocurve = "^2022.7.14"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
flake8-bandit = "^3.0.0"
safety = "^1.10.3"
flake8-bugbear = "^22.4.25"
vulture = "^2.5"
vermin = "^1.4.0"

[tool.poetry.scripts]
graphysio = "graphysio.main:main"

[tool.black]
line-length = 88
extend-exclude = 'ui'
target-version = ['py38', 'py39', 'py310']
skip-string-normalization = true

